.parents {
  border: 2px solid black;
  width: 70%;
  height: 500px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type='text'] {
  border: 0px;
  border-bottom: 1px solid black;
  margin: 10px;
  border-radius: 0px;
  width: 97%;
  display: inline-block;
}

.parent-div {
  display: inline-block;
  border: 1px solid red;
  width: 100%;
}

.child {
  margin: 20px;
  display: inline-block;
  border: 1px solid black;
  width: 45%;
}

form {
  border: 1px solid green;
  width: 100%;
}

h1 {
  font-size: 25px;
  color: green;
}

label {
  color: green;
}
