<div class="container parents mt-5">
  <form action="" class="container-fluid">
    <div class="parent-div container-fluid">
      <h1>Send a Message</h1>

      <div class="child">
        <label for="">First Name</label> <br />
        <input class="form-control" type="text" />
      </div>

      <div class="child">
        <label for="">First Name</label> <br />
        <input class="form-control" type="text" />
      </div>

      <div class="child">
        <input class="form-control" placeholder="Email" type="text" />
      </div>

      <div class="child">
        <input class="form-control" placeholder="Mobile Number" type="text" />
      </div>

      <!-- <label for="">Last Name</label>
      <input class="form-control" type="text" /> -->
    </div>
  </form>
</div>
