<html>
  <div class="backcolor">
    <div class="contact-info">
      <h2>Contact Info</h2>

      <p class="mt-5">2912 meadowbrook Road</p>
      <p>lorem@ipsum.com</p>
      <p>310-368-1632</p>
      <div class="mt-5">
        <img
          src="https://img.icons8.com/ios-glyphs/30/000000/facebook-new.png"
        />
        <img
          src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"
        />
        <img
          src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png"
        />
        <img src="https://img.icons8.com/ios-glyphs/30/000000/pinterest.png" />
        <img src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png" />
      </div>
    </div>
    <!-- from -->
    <div class="parents">
    <form class="forms mt-5">
      <div class="contents mt-5">
        <h1>Send a Message</h1>

        <div class="child">
          <label for="">First Name</label> <br />
          <input class="form-control" type="text" />
        </div>

        <div class="child">
          <label for="">First Name</label> <br />
          <input class="form-control" type="text" />
        </div>

        <div class="child">
          <input class="form-control" placeholder="Email" type="text" />
        </div>

        <div class="child">
          <input class="form-control" placeholder="Mobile Number" type="text" />
        </div>

        <div class="textarea">
          <textarea
            class="form-control"
            rows="4"
            cols="100"
            placeholder="Write your Message here"
          ></textarea>
        </div>
        <button class="send-btn mt-3">Send</button>
      </div>
    </form>
    </div>
  </div>
</html>
