<div class="contact-info">
  <h1>sjdk</h1>
  <p>2912 meadowbrook Road</p>
  <p>lorem@ipsum.com</p>
  <p>310-368-1632</p>
</div>

<div class="backcolor">
  <form action="" class="container parents">
    <div class="parent-div mt-5">
      <div
        class="div-right container ml-5 mt-5"
        style="margin-left:200px; width:80%"
      >
        <h1>Send a Message</h1>

        <div class="child">
          <label for="">First Name</label> <br />
          <input class="form-control" type="text" />
        </div>

        <div class="child">
          <label for="">First Name</label> <br />
          <input class="form-control" type="text" />
        </div>

        <div class="child">
          <input class="form-control" placeholder="Email" type="text" />
        </div>

        <div class="child">
          <input class="form-control" placeholder="Mobile Number" type="text" />
        </div>

        <div class="textarea">
          <textarea
            class="form-control"
            rows="4"
            cols="100"
            placeholder="Write your Message here"
          ></textarea>
          <!-- <input class="form-control" placeholder="Mobile Number" type="text" /> -->
        </div>
        <button class="send-btn">Send</button>
      </div>
    </div>
  </form>
</div>
