.backcolor {
  /* height: 100%; */
  /* margin-top: 0px; */
  height: 100vh;
  /* padding:0 auto; */
  /* margin-top: 0; */

  background: linear-gradient(to left, green 50%, #faf55c 50%);
}

.parents {
  /* border: 2px solid black; */
  /* width: 80%; */
  /* height: 550px; */
  /* background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  overflow: hidden;
}

/* .backcolor {
  background-color: red;
} */

input[type='text'],
input[type='email'] {
  border: 0px;
  border-bottom: 1px solid black;
  margin: 10px;
  border-radius: 0px;
  width: 97%;
  display: inline-block;
  font-size: large;
  padding: 0px;
}

.forms {
  overflow: hidden;
  /* display: inline-block; */
  /* border: 1px solid red; */
  width: 70%;
  margin: 0 auto;
  height: 600px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  /* margin-left: 130px; */
}

.child {
  margin: 20px;
  display: inline-block;
  /* border: 1px solid black; */
  width: 44%;
}

/* form {
  border: 1px solid green;
  width: 100%;
} */

h1 {
  font-size: 25px;
  color: green;
}

label {
  font-size: large;
  color: green;
}
/* p {
} */

.textarea {
  display: inline-block;
}

textarea {
  font-size: x-large;
  border: 0px;
  width: 80%;
  /* height: 20px; */
  border-bottom: 1px solid black;
  border-radius: 0px;
}

.send-btn {
  border: 0px;
  background-color: green;
  width: 17%;
  padding: 10px;
  color: white;
  font-size: large;
}

.contact-info {
  overflow: hidden;
  /* border: 1px solid black; */
  width: 22%;
  color: white;
  font-size: large;
  padding: 30px;
  background-color: green;
  height: 420px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 15%;
  left: 5%;
}

.contents {
  /* border: 2px solid blue; */
  /* width: 150px; */
  /* margin-left: 40px; */
  margin-left: 200px;
  padding: 30px;
  width: 80%;
}
input.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}

input.ng-valid.ng-touched {
  border-bottom: 3px solid green;
}
