a {
  text-decoration: none;
}
.center {
  text-align: center;
}

.parent-box {
  text-align: center;
  /* border: 1px solid black; */
}

.box1 {
  padding: 65px;
  display: inline-block;
  width: 27%;
  height: 440px;
  /* border: 1px solid black; */
  border: 0px;
  border-top: 10px solid #11a8d8;
  border-radius: 3%;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: left;
  overflow: hidden;
}

.box2 {
  border-top: 10px solid #27a55c;
  /* height: 540px; */
}

.box3 {
  border-top: 10px solid #2562e7;
}

.box1:hover {
  margin-top: 0px;
  height: 500px;
  width: 28%;
  background-color: white;
}

.mybutton {
  padding: 6px;
  margin-top: 30px;
  background-color: white;
  color: #11a8d8;
  border-radius: 10px;
  width: 90%;
  border: 1px solid #11a8d8;
}

.btn2 {
  color: #27a55c;
  border: 1px solid #27a55c;
  /* background-color: #27a55c; */
}

.btn2:hover {
  color: white;
  background-color: #27a55c;
}

.btn3 {
  color: #2562e7;
  border: 1px solid #2562e7;
}

.btn3:hover {
  color: white;
  background-color: #2562e7;
}

.myhover:hover {
  color: white;
  background-color: #11a8d8;
}

.heading {
  font-size: 30px;
}

.green {
  margin-top: 20px;
  color: #27a55c;
}
