<div class="container">
  <form action="">
    <h1 class="mt-5 center">Contact Us</h1>
    <p class="center">Have any questions? We'd love to hear from you</p>
    <div class="parent-box">
      <div class="box1">
        <h1 class="heading">Press</h1>
        <p class="justify">
          Are you interested in our latest news or working on a Grammarly story
          and need to get in touch?
        </p>
        <div class="center">
          <button class="mybutton myhover">Visit Press Page</button>
        </div>
      </div>

      <div class="box1 box2">
        <h1 class="heading">Help & Support</h1>
        <p class="justify">
          Our support team is spread across the globe to give you answers fast.
        </p>
        <div class="center">
          <button class="mybutton btn2">Visit Support Page</button>
          <p class="mt-3"><a class="green" href=""> SUBMIT A REQUEST</a></p>
        </div>
      </div>
      <div class="box1 box3">
        <h1 class="heading">Sales</h1>
        <p class="justify">
          Ge in touch with our sales team to see how we can work togather.
        </p>
        <div class="center">
          <button class="mybutton btn3" routerLink="/sendmsg">
            Contact Sales
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
