<div class="container">
  <form action="">
    <h1 class="mt-5 center">Contact Us</h1>
    <p class="center">Have any questions? We'd love to hear from you</p>
    <div class="parent-box">
      <div class="box1 mt-2">
        <h1 class="justify">Press</h1>
        <p class="justify">
          Are you interested in our latest news or working on a Grammarly story
          and need to get in touch?
        </p>
        <button class="mybutton">Visit Press Page</button>
      </div>
      <div class="box1 box2 mt-2">
        <h1>Help & Support</h1>
        <p class="justify">
          Our support team is spread across the globe to give you answers fast.
        </p>
        <button class="mybutton">Visit Press Page</button>
      </div>
      <div class="box1 mt-2">
        <h1>Sales</h1>
        <p class="justify">
          Ge in touch with our sales team to see how we can work togather.
        </p>
        <button class="mybutton">Visit Press Page</button>
      </div>
    </div>
  </form>
</div>
